			a,a:link,a:visited,a:hover,a:active{
		        text-decoration: none;
		        color:white;
		    }
			button{
				outline: none; 
			}
			.body{
				margin:0px;
				padding:0px;

			}
			.container{
				width:65%;
				margin:0 auto
			}
			.row{
				height: 60px;
				background:red;
				position:relative;
			}
			.logo{
				width:100%;
				height:100%;
				float:left;
			}
			.nav-header{
				/*float:right;*/
				position:absolute;
				right:10px;
				bottom:10px;
			}
			.nav-body{
				height:60px;
				/*background:red;*/
				text-align:center;

			}
			.dropdown{
				width:100%;
				height:100%;
				margin-top:10px;
				border-radius:10px;
				background:#6495ED;
			}
			.dropdown a{
				color:white;
				display:block;
				width:80px;
				height:30px;
				float:left;
				padding:20px 10px 0 20px;
			}

			.content{
				width:100%;
				padding:10px 0;
			}
			/*.content-left{
				float:left;
			}
			.content-left a{
				color:black;
				display:block;
				width:130px;
				height:50px;
				background:#ffd;
				border:1px solid #000;
				text-align:center;
				line-height:50px;
			}*/

			.content-right{
				width:100%;
				/*height:px;*/
				/*margin-left:140px;*/
				/*padding-left:140px;*/
				/*background:red;*/
				border-radius:10px;
			}
			.content-right .time{
				float:right;
				padding-right:10px;
			}
			.content-right a:nth-child(1){
				color:blue;
			}
			.content-right a{
				color:white;
				padding-left:20px;
				line-height:30px;
			}
			.content-right .notice{
				height:30px;
				background:red;
			}
			.neirong{
				margin-top:3px;
				border:1px solid #cccccc;
				border-radius:3px;
			}
			.neirong hr{
				width:95%;
			}

			.tou-anniu{
				height:40px;
				display:flex;
				text-align:center;
			}
			.tou-anniu a{
				line-height:40px;
				flex:1;
				color:black;
				background:#ccc;
			}